# Ignore node_modules in all directories
**/node_modules/

# Ignore environment files in backend and frontend
backend/.env

# Optional: ignore logs
*.log
npm-debug.log*

# Ignore build/dist folders (optional, if you're not committing them)
frontend/build/
frontend/dist/
backend/build/
